@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: rgb(34, 34, 34);
    color: rgb(226, 198, 198);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }


#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(19, 8, 112);
    transition: 0.3s;
}

.section{

    padding: 0 15%;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.row h1{
    font-size:  90px;
    line-height: 1.2;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.911);
}

.row2 h1{
    font-size:  50px;
    line-height: 1.2;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.911);
}

.home-text h5{
    color: #ffffff99;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 60px;
}


.home-text h3{
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}


.home-img img{
    max-width: 250%;
    width: 30rem;
    height: auto;
    margin-left: -10%;
    border-radius: 15px;
}


.btn{
    display: inline-block;
    padding: 15px 90px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border-radius: 15px;
    transition: all.55 ease;
    color: #fff;
}

.btn{

        background-color: rgb(132, 14, 201);
        color: white;
}

.main{
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main li img{
    width: 50px;
    height: auto;
    max-width: 150%;
}
.row{
    background: #3610e2;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
    display: inline-flex;
}


.row:hover {
    transform: translateY(-8px);

}

.row2{
    background: #3610e2;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;
}

.row2:hover{
    transform: translateY(-8px);
}

.row3{
    background: #3610e2;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    justify-content: center;
    transition: all.55s ease;
    cursor: pointer;

}

.row3:hover{
    transform: translateY(-8px);
}
h1{
    font-size: 60px;
    line-height: 15px;
    font-family: 'Poppins', sans-serif;
    color: #3610e2;
}

h3{
    font-size: 40px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
}

h5{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #55494b;
}
h2{
    font-size: 40px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.911)
}